@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
    0%, 100% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
  }
  
  .animate-float {
    animation: float 3s ease-in-out infinite;
  }
  
  @keyframes bounce-slow {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-15px); }
  }
  
  .animate-bounce-slow {
    animation: bounce-slow 5s ease-in-out infinite;
  }
  
